.nav {
    width: 100%;
    height: 70px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
}

.row .part1 {
    display: flex;
    align-items: center;
}
.nav .container-fluid {
    padding: 0 40px;
}
.btnBrowse {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
}

.listPage {
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.listPage .pageItem {
    padding: 0 20px;
    font-size: 1.6rem;
    position: relative;
    text-transform: capitalize;
}

.menuPageItem {
    margin-bottom: 20px;
    line-height: 1;
    font-weight: 500;
}

.menuPageItem .menuPageLink {
    color: #7e7e7e !important;
    font-size: 1.5rem;
}

.menuPageItem .menuPageLink:hover {
    color: var(--primary-color) !important;
    transition: all linear 0.2s;
}

.listPage .pageItem a:hover {
    color: var(--primary-color);
    transition: all linear 0.2s;
}

.listPage .pageItem a {
    color: #253d4e;
    font-weight: 600;
}

.iconPageItem {
    font-size: 1.1rem;
    opacity: 0.5;
}

.supportCenter {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: end;
}

.supportCenter .iconSupport {
    font-size: 3.5rem;
}

.wrapSupport {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 5px;
}

.wrapSupport .numberSupport {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 2.3rem;
}

.wrapSupport .titleSupport {
    font-size: 1.2rem;
    color: #7e7e7e;
}

.listMenuPage {
    position: absolute;
    top: 100%;
    left: 20px;
    background-color: #fff;
    min-width: 200px;
    z-index: 99;
    border-radius: 10px;
    border: 1px solid #ececec;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    padding: 20px 15px 8px 15px;
    margin-top: 35px;
    display: none;
    animation: mymove linear 0.2s;
}

.listMenuPage::after {
    position: absolute;
    content: '';
    width: 25%;
    height: 2px;
    background-color: transparent;
    top: -45px;
    left: 0;
    padding-top: 60px;
}

.pageItem.ResPc:hover .listMenuPage {
    display: block;
}

.dropdown_menu.mega {
    width: 99%;
    background-color: #fff;
    border: 1px solid #ececec;
    position: absolute;
    left: 0;
    top: 111%;
    margin: 0 7.5px;
    padding: 30px 25px;
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    transition: all linear 0.2s;
    animation: mymove linear 0.2s;
    display: none;
    z-index: 1;
}

.dropdown_menu.mega::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 60px;
    background-color: transparent;
    top: -25px;
    left: 60%;
}

.dropdown_menu.mega h4 {
    font-size: 1.9rem;
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
    transition: all linear 0.2s;
}

.dropdown_menu.mega h4:hover {
    color: #fdc040;
}
.mega-list {
    margin-top: 20px;
}
.mega-title {
    font-size: 1.5rem;
    color: #7e7e7e;
    font-weight: 500;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all linear 0.2s;
}

.mega-title:hover {
    color: var(--primary-color);
}

.dropdown_menu.mega .col img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.pageItem.mega:hover .dropdown_menu {
    display: block;
}

.boxSearch {
    height: 45px;
    color: #253d4e;
    background-color: #f2f3f4;
    border-radius: 5px;
    display: flex;
    border: 0;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 22px;
}

.boxSearch .inputSearch {
    width: 100%;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
}
.boxSearch:focus-within {
    border: 1px solid #bce3c9;
}

.boxSearch .btnSearch {
    border: none;
    display: inline-block;
    padding: 8px;
    outline: none;
    background-color: transparent;
}

.btnClose .logo {
    width: 140px;
}
